<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="reply_url" value="https://api.line.me/v2/bot/message/reply" />
    <add key="push_url" value="https://api.line.me/v2/bot/message/push" />
    <add key="channel_access_token" value="x/0SFrPL7scqrlj+L+Dfu1u4qgOd5sbFYaSdi8IX4FCVPUWwqpokL6k/PJkNOv4xSYuy0gBnwhAerqtJ1ovhvhup9sgceeJZwMGZUz2rHB09uczBsRvsss5AtQyBraiyAig9Un7fEHwcgKj/b9xP7QdB04t89/1O/w1cDnyilFU=" />
    <add key="liff_id" value="2000626468-ZQE950nX" />
	<add key ="mail_Server" value="smtp@gmail.com"/>
	<add key ="mail_Port" value="587"/>
	<add key ="mail_User" value="jerryamo0816@gmail.com"/>
	<add key ="mail_Pswd" value="vnrutvzjhrtnvvmb"/>
    <add key="DB_connectionString" value="Initial Catalog=LineService_New;Data Source=localhost;User ID=chatBot;Password=M@gic307" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <sessionState mode="InProc" timeout="120" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LineServiceEntities" connectionString="data source=localhost;initial catalog=LineService_New;user id=chatBot;password=M@gic307;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>