<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="reply_url" value="https://api.line.me/v2/bot/message/reply"/>
    <add key="push_url" value="https://api.line.me/v2/bot/message/push"/>
    <add key="channel_access_token" value="x/0SFrPL7scqrlj+L+Dfu1u4qgOd5sbFYaSdi8IX4FCVPUWwqpokL6k/PJkNOv4xSYuy0gBnwhAerqtJ1ovhvhup9sgceeJZwMGZUz2rHB09uczBsRvsss5AtQyBraiyAig9Un7fEHwcgKj/b9xP7QdB04t89/1O/w1cDnyilFU="/>
	  <add key="DB_connectionString" value=""/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>